<%- include("templates/encabezado.ejs", {titulo: "Informacion"})%>
<div class="container-sm">
    <form action="/contacto" method="POST" id="formulario" class="row g-3">
        <div class="col-md-4">
          <label for="id" class="form-label">ID.</label>
          <input type="text" class="form-control" id="id" name="id" required value="<%= contactoBD._id %>">
        </div>
        <div class="col-md-4">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" required value="<%= contactoBD.nombre %>">
        </div>
        <div class="col-md-4">
          <label for="apellidos" class="form-label">Apellidos</label>
          <input type="text" class="form-control" id="apellidos" name="apellidos" required value="<%= contactoBD.apellidos %>">
          
        </div>
        <div class="col-md-4">
          <label for="expediente" class="form-label">Expediente</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend3">20240000</span>
            <input type="text" class="form-control" id="expediente" name="expediente" required value="<%= contactoBD.expediente %>">
            
          </div>
        </div>
        <div class="col-md-6">
            <label for="ciudad" class="form-label">Ciudad</label>
            <input type="text" class="form-control" id="ciudad" name="ciudad" required>
            
        </div>
        <div class="col-md-3">
            <label for="estado" class="form-label">Estado.</label>
            <select class="form-select" id="estado" name="estado" required>
              <option selected disabled value="">--Estados--</option>
              <option>Aguascalientes</option>
              <option>Baja California</option>
              <option>Baja California Sur</option>
              <option>Campeche</option>
              <option>Coahuila</option>
              <option>Colima</option>
              <option>Chiapas</option>
              <option>Chihuahua</option>
              <option>Ciudad de México</option>
              <option>Durango</option>
              <option>Guanajuato</option>
              <option>Guerrero</option>
              <option>Hidalgo</option>
              <option>Jalisco</option>
              <option>Estado de México</option>
              <option>Michoacán</option>
              <option>Morelos</option>
              <option>Nayarit</option>
              <option>Nuevo León</option>
              <option>Oaxaca</option>
              <option>Puebla</option>
              <option>Querétaro</option>
              <option>Quintana Roo</option>
              <option>San Luis Potosí</option>
              <option>Sinaloa</option>
              <option>Sonora</option>
              <option>Tabasco</option>
              <option>Tamaulipas</option>
              <option>Tlaxcala</option>
              <option>Veracruz</option>
              <option>Yucatán</option>
              <option>Zacatecas</option>
              
              
            </select>
        </div>
        

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Actualizar</button>
        </div>
    </form>
</div>

<%- include("templates/pie.ejs")%>